/* Estilos generales */
#root {
	max-width: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	font-family: "Raleway", sans-serif;
	font-style: normal;
	overflow: auto;
	cursor: default;
}

/* Modo light & dark */
.root.dark,
.root.dark .translate textarea,
.root.dark .formulario-login .username input, 
.root.dark .formulario-login .password input,
.root.dark .formulario-registro .username input, 
.root.dark .formulario-registro .password input {
    color: #fff;
	background: #242424;
}

.root.light .formulario-login,
.root.light .formulario-registro,
.root.light .formulario-login .username input, 
.root.light .formulario-login .password input, 
.root.light .formulario-registro .username input,
.root.light .formulario-registro .password input {
	border: 1px solid #242424;
}

.root.light,
.root.light .translate textarea,
.root.light .formulario-login .username input, 
.root.light .formulario-login .password input,
.root.light .formulario-registro .username input, 
.root.light .formulario-registro .password input,
.root.light .selector {
	background: #fff;
	color: #242424;
}

.root.light .options-user button {
	border: 1px solid #fff;
	background-color: #fff;
	color: #242424;
}

.root.dark .options-user button {
	border: 1px solid #242424;
	background-color: #242424;
	color: #fff;
}

.root.light .button-language,
.root.light .button-view,
.root.light .button-save,
.root.light .button-delete {
	background: #fff;
}

.root.light .button-delete,
.root.light .translate textarea,
.root.dark code {
	color: #242424;
}

.root.dark .button-language,
.root.dark .button-view,
.root.dark .button-save,
.root.dark .button-delete {
	background: #242424;
}

#root::-webkit-scrollbar,
.code::-webkit-scrollbar {
	width: 8px;
	background: #555555;
	border-radius: 8px;
	z-index: 99999;
}

.navbar {
	width: 100%;
	padding: 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.navbar ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin: 0;
}

.navbar ul li {
    height: 42px;
    cursor: pointer;
    padding: 8px;
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
}

.navbar ul li a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar ul li:nth-child(1),
.navbar ul li:nth-child(6) {
	border-top: 1px solid #cfcf16;
	border-bottom: 1px solid #cfcf16;
}

.navbar ul li:nth-child(1),
.navbar ul li:nth-child(1) a,
.navbar ul li:nth-child(6),
.navbar ul li:nth-child(6) a {
	color: #cfcf16;
}

.navbar ul li:nth-child(1):hover,
.navbar ul li:nth-child(1).active,
.navbar ul li:nth-child(6):hover,
.navbar ul li:nth-child(6).active {
	background-color: #fafaa0;
	color: #242424;
}

.navbar ul li:nth-child(1):hover a,
.navbar ul li:nth-child(1).active a,
.navbar ul li:nth-child(6):hover a,
.navbar ul li:nth-child(6).active a {
	background-color: #fafaa0;
	color: #7a7a0b;
}

.navbar ul li:nth-child(2),
.navbar ul li:nth-child(5) {
	border-top: 1px solid #c25f5f;
	border-bottom: 1px solid #c25f5f;
}

.navbar ul li:nth-child(2),
.navbar ul li:nth-child(2) a,
.navbar ul li:nth-child(5),
.navbar ul li:nth-child(5) a {
	color: #c25f5f;
}

.navbar ul li:nth-child(2):hover,
.navbar ul li:nth-child(2).active,
.navbar ul li:nth-child(5):hover,
.navbar ul li:nth-child(5).active {
	background-color: #ffc4c4f0;
}

.navbar ul li:nth-child(2):hover a,
.navbar ul li:nth-child(2).active a,
.navbar ul li:nth-child(5):hover a,
.navbar ul li:nth-child(5).active a {
	color: #6c0404;
}

.navbar ul li:nth-child(3),
.navbar ul li:nth-child(4) {
	border-top: 1px solid #930693;
	border-bottom: 1px solid #930693;
}

.navbar ul li:nth-child(3),
.navbar ul li:nth-child(3) a,
.navbar ul li:nth-child(4),
.navbar ul li:nth-child(4) a {
	color: #de2dd9;
}

.navbar ul li:nth-child(3):hover,
.navbar ul li:nth-child(3).active,
.navbar ul li:nth-child(4):hover,
.navbar ul li:nth-child(4).active {
	background-color: #c799c7;
}

.navbar ul li:nth-child(3):hover a,
.navbar ul li:nth-child(3).active a,
.navbar ul li:nth-child(4):hover a,
.navbar ul li:nth-child(4).active a {
	color: #2a0431;
}

.header {
	min-height: 8px;
	width: 100%;
	border: none;
	background: linear-gradient(139deg, #eaf658, #ff4b01, #c12127, #e02aff);
}

.container {
    height: auto;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container h1 {
	text-align: left;
	width: 100%;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 8px;
	font-size: 24px;
	cursor: default;
}

.container h1 .version {
	font-size: 16px;
}

.container p {
	text-align: justify;
	cursor: default;
}

.content {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 32px;
	padding-bottom: 32px;
	position: relative;
}

.content.list-code {
	align-items: flex-start;
}

.content.list-code div {
	width: 100%;
}

.content.use-rules,
.content.use-react {
	justify-content: center;
	align-items: center;
} 

.content.use-rules h4 {
	margin-bottom: 0;
}

.content.use-react .button-language {
	margin: 16px 0 42px 0;
}

.content.use-rules ol {
	margin-top: 0;
	width: inherit;
}

.content code {
	background: #e3e3e3;
	padding: 4px;
}

.content summary {
    color: #2f6627;
	font-size: 12px;
    cursor: pointer;
}

.code {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 16px;
    background: #8a8a8a;
    border-radius: 4px;
	overflow: auto;
}

/* Tabla */
.content.versions table {
	width: 80%;
}

.content.versions table {
	width: 80%;
	margin-bottom: 32px;
}

.content.versions table thead {
	background: #2f6627;
	height: 42px;
}

.content.versions table tbody {
	text-align: center;
}

.content.versions table tbody ul {
	list-style: none;
}

.images {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 32px;
}

.logo-thebrigde {
	width: 32%;
}

.logo-neskatila {
	width: 32%;
	border: 2px solid #fff;
	border-radius: 8px;
}

.info {
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 32px;
}

.info a {
	color: #2f6627;
}

.translate {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.translate p {
	color: #2f6627;
}

.list-save {
    width: 62%;
    margin-top: 32px;
    padding: 16px 16px 16px 32px;
    border: 1px solid #2f6627;
}

.translate textarea {
	width: 80%;
	height: 150px;
	padding: 16px;
	resize: vertical;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	border-radius: 4px;
	border-color: #d4d4d4;
	font-style: italic;
	margin-top: 32px;
}

/* Botón para traducir */
.button-language {
	border: none;
	border-radius: 0;
	margin: 16px 0;
	width: 280px;
	font-size: 16px;
	border: 1px solid;
	color: #2f6627;
}

.button-language:not(:disabled):hover {
	transform: scale(1.05);
}

.button-language:not(:disabled):hover:active {
	transform: scale(1.05) translateY(.125rem);
}

.button-language:active {
	top:1px;
}

.button-language:hover,
.button-language:focus {
	outline: 0;
	border-color: #2f6627;
}

/* Botón guardar traducciones */
.button-save {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px;
	width: 280px;
    height: 40px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    border: none;
	margin: 16px 0;
	color: #2f6627;
}
  
.button-save::before, 
.button-save::after {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
	transition: .3s;
	background-color: #2f6627;
}

.button-save::before {
	top: 0;
}
  
.button-save::after {
	bottom: 0;
}
  
.button-save:hover::before {
	transform: translateX(-100%);
}
  
.button-save:hover::after {
	transform: translateX(100%);
}

.button-save:hover {
    color: #2f6627;
}

/* Botón ver traducciones guardadas */
.button-view {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	text-decoration: none;
	color: #2f6627;
	font-size: 16px;
	border-radius: 0px;
	width: 280px;
	height: 40px;
	border-top: 1px solid #2f6627;
	border-right: 1px solid #2f6627;
	border-left: 20px solid #2f6627;
	border-bottom: 1px solid #2f6627;
	transition: 0.3s;
	margin: 16px 0;
}

.button-view:hover {
	border-left-width: 1px;
	border-color: #2f6627;
}

/* Botón eliminar traducciones guardadas */
.button-delete {
    border: 1px solid #2f6627;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 16px;
    transition: all .14s ease-out;
}

.button-delete:hover {
	box-shadow: 4px 4px 0 #2f6627;
	transform: translate(-4px,-4px);
}

.button-delete:focus-visible{
	outline-offset: 0;
}

.button-delete:hover {
	border-left-width: 1px;
	border-color: #2f6627;
}

/* Footer */
.footer {
	position: sticky;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer svg {
	width: 100%;
}

.login-options {
    display: flex;
}

.login-options .use-api {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.use-api p {
	margin: 0;
	font-size: 10px;
}

.use-api span {
	color: #2f6627;
}

.options-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

.options-user .show-username {
   cursor: default;
}

/* ToggleSwitch */
.switch {
    height: 34px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.switch .slider {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.switch .word {
	cursor: pointer;
	transition: color 0.4s;
	padding: 0 8px;
	text-shadow: 1px 1px 1px #848484;
	font-size: 14px;
}

.switch .light {
	color: #242424;
}

.switch .dark {
	color: #fff;
}

.switch .active {
	color: #fff;
}

/* Selector */
.selector {
    padding: 8px 16px;
	margin-right: 8px;
}

select option {
	min-height: 20px !important;
	height: 20px !important;
    padding: 8px;
    background: white;
	color: #242424;
}

/* Spinner */
.spinner {
	margin-top: 42px;
}

.spinner .main {
	padding: 1.5em 0;
}

.spinner .lp {
	width: 8em;
	height: 8em;
}

.spinner .lp__drops,
.spinner .lp__fall-line,
.spinner .lp__worm {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	transform-origin: 64px 64px;
}

.spinner .lp__drops {
	animation-name: drops;
	animation-timing-function: ease-in-out;
	stroke-dasharray: 22 307.85 22;
	visibility: hidden;
	transform: rotate(90deg);
}

.spinner .lp__fall-line {
	animation-name: fallLine1;
	animation-timing-function: ease-in;
	stroke-dasharray: 1 112;
	stroke-dashoffset: 114;
}

.spinner .lp__fall-line--delay1 {
	animation-name: fallLine2;
}

.spinner .lp__fall-line--delay2 {
	animation-name: fallLine3;
}

.spinner .lp__fall-line--delay3 {
	animation-name: fallLine4;
}

.spinner .lp__fall-line--delay4 {
	animation-name: fallLine5;
}

.spinner .lp__ring {
	stroke: hsla(var(--hue), 90%, 5%, 0.1);
	transition: stroke 0.3s;
}

.spinner .lp__worm {
	animation-name: worm;
	stroke-dasharray: 43.98 307.87;
	stroke-dashoffset: -131.94;
	transform: rotate(-90deg);
}

/* Formulario Login */
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: 42px 0;
}

.formulario-login {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 38px;
    border-radius: 2px;
    background: #fff;
    color: #242424;
    border: 1px solid rgb(57 233 145);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.formulario-login .username, 
.formulario-login .password {
	width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-bottom: 24px;
}

.formulario-login .username label, 
.formulario-login .password label {
	margin-bottom: 8px;
}

.formulario-login .username input, 
.formulario-login .password input {
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 4px;
}

.formulario-login .buttons {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	row-gap: 8px;
}

.formulario-login .buttons button.login {
	background: #5e9843;
	margin: 0;
	width: 200px;
}

.formulario-login .buttons button.login:hover {
	background: #44951f;
}

.formulario-login .buttons button.registro {
	background: #67cf36;
	margin: 0 0 16px 0;
	width: 200px;
}

.formulario-login .buttons button.registro:hover {
	background: #48d505;
}

.formulario-login .buttons button.login:hover,
.formulario-login .buttons button.registro:hover {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.formulario-login .buttons button, 
.formulario-login .buttons a {
    width: 100%;
	border-radius: 8px;
}

/* Formulario Login */
.registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: 42px 0;
}

.formulario-registro {
	width: 60%;
	display: flex;
    flex-direction: column;
	align-items: center;
    padding: 48px 38px;
	border-radius: 2px;
	color: #242424;
	background: #fff;
    border: 1px solid rgb(57 233 145);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.formulario-registro .username, 
.formulario-registro .password {
	width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-bottom: 24px;
}

.formulario-registro .username label, 
.formulario-registro .password label {
	margin-bottom: 8px;
}

.formulario-registro .username input, 
.formulario-registro .password input {
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 8px;
}

.formulario-registro .buttons {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	row-gap: 8px;
}

.formulario-registro .buttons button.login {
	background: #5e9843;
	margin: 0;
	width: 200px;
}

.formulario-registro .buttons button.login:hover {
	background: #44951f;
}

.formulario-registro .buttons button.registro {
	background: #67cf36;
	margin: 0 0 16px 0;
	width: 200px;
}

.formulario-registro .buttons button.registro:hover {
	background: #48d505;
}

.formulario-registro .buttons button.login:hover,
.formulario-registro .buttons button.registro:hover {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.formulario-registro .buttons button, 
.formulario-registro .buttons a {
    width: 100%;
	border-radius: 8px;
}

@media only screen and (max-width: 768px) {
	.container {
		padding: 0 16px;
		width: auto;
	}
	
	.content {
		width: inherit;
	}

	.navbar ul {
		flex-direction: column;
	}

	.navbar ul li {
		width: -webkit-fill-available;
	}

	.images {
		margin-top: 24px;
		flex-direction: column;
		order: 0;
	}

	.logo-thebrigde {
		margin-top: 24px;
		order: 1;
	}

	.logo-thebrigde,
	.logo-neskatila {
		width: 100%;
		height: 100%;
	}

	.button-language,
	.button-save,
	.button-view {
		width: 242px;
	}

	.formulario-login .buttons button, 
	.formulario-login .buttons a,
	.formulario-registro .buttons button, 
	.formulario-registro .buttons a {
		width: 200px;
	}

	.formulario-login .username, 
	.formulario-login .password,
	.formulario-registro .username, 
	.formulario-registro .password,
	.formulario-login .buttons,
	.formulario-registro .buttons,
	ol {
		width: 100%;
	}

	h2 {
		text-align: center;
	}

	.code {
		width: auto;
	}

	.login-options {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}

	.info {
		text-align: justify;
		margin-top: 0;
	}
}

@media (prefers-color-scheme: dark) {
	.spinner .lp__ring {
		stroke: hsla(var(--hue), 90%, 95%, 0.1);
	}
}

/* Animations */
@keyframes drops {
	from {
		animation-timing-function: steps(1, end);
		stroke-dasharray: 0 351.85 0;
		visibility: hidden;
	}

	25% {
		animation-timing-function: ease-in-out;
		stroke-dasharray: 0 351.85 0;
		visibility: visible;
	}

	26% {
		stroke-dasharray: 4 343.85 4;
	}

	27% {
		stroke-dasharray: 8 335.85 8
	}

	28% {
		stroke-dasharray: 12 327.85 12;
	}

	29% {
		animation-timing-function: ease-in;
		stroke-dasharray: 17 317.85 17;
	}

	32% {
		animation-timing-function: ease-out;
		stroke-dasharray: 25 301.85 25;
	}

	35%,
	47.5% {
		animation-timing-function: linear;
		stroke-dasharray: 22 307.85 22;
		visibility: visible;
	}

	50% {
		animation-timing-function: steps(1, end);
		stroke-dasharray: 0 307.85 43.98;
		visibility: hidden;
	}

	75% {
		animation-timing-function: ease-in-out;
		stroke-dasharray: 0 351.85 0;
		visibility: visible;
	}

	76% {
		stroke-dasharray: 4 343.85 4;
	}

	77% {
		stroke-dasharray: 8 335.85 8
	}

	78% {
		stroke-dasharray: 12 327.85 12;
	}

	79% {
		animation-timing-function: ease-in;
		stroke-dasharray: 17 317.85 17;
	}

	82% {
		animation-timing-function: ease-out;
		stroke-dasharray: 25 301.85 25;
	}

	85%,
	97.5% {
		animation-timing-function: linear;
		stroke-dasharray: 22 307.85 22;
		visibility: visible;
	}

	to {
		stroke-dasharray: 43.98 307.85 0;
		visibility: hidden;
	}
}

@keyframes fallLine1 {

	from,
	15% {
		stroke-dashoffset: 114;
	}

	25%,
	65% {
		stroke-dashoffset: 1;
	}

	75%,
	to {
		stroke-dashoffset: -112;
	}
}

@keyframes fallLine2 {

	from,
	16% {
		stroke-dashoffset: 114;
	}

	26%,
	66% {
		stroke-dashoffset: 1;
	}

	76%,
	to {
		stroke-dashoffset: -112;
	}
}

@keyframes fallLine3 {

	from,
	17% {
		stroke-dashoffset: 114;
	}

	27%,
	67% {
		stroke-dashoffset: 1;
	}

	77%,
	to {
		stroke-dashoffset: -112;
	}
}

@keyframes fallLine4 {

	from,
	18% {
		stroke-dashoffset: 114;
	}

	28%,
	68% {
		stroke-dashoffset: 1;
	}

	78%,
	to {
		stroke-dashoffset: -112;
	}
}

@keyframes fallLine5 {

	from,
	19% {
		stroke-dashoffset: 114;
	}

	29%,
	69% {
		stroke-dashoffset: 1;
	}

	79%,
	to {
		stroke-dashoffset: -112;
	}
}

@keyframes worm {
	from {
		animation-timing-function: ease-out;
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -131.94;
	}

	25% {
		animation-timing-function: steps(1);
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -307.86;
	}

	25.01% {
		animation-timing-function: ease-in;
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -307.86;
	}

	50% {
		animation-timing-function: steps(1);
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -175.92;
	}

	50.01% {
		animation-timing-function: ease-out;
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -131.94;
	}

	75% {
		animation-timing-function: steps(1);
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: 43.98;
	}

	75.01% {
		animation-timing-function: ease-in;
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: 0;
	}

	to {
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -131.94;
	}
}