#root {
  max-width: 1280px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  overflow: auto;
  background-color: #fff;
}

.navbar {
  width: 100%;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  cursor: pointer;
  padding: 16px 32px;
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
}

.navbar ul li:nth-child(1) {
  border-bottom: 1px solid #cfcf16;
}

.navbar ul li:nth-child(1),
.navbar ul li:nth-child(1) a {
  color: #cfcf16;
}

.navbar ul li:nth-child(1):hover,
.navbar ul li:nth-child(1).active {
  background-color: #e7e7a8;
  color: #000;
}

.navbar ul li:nth-child(2) {
  border-bottom: 1px solid #c25f5f;
}

.navbar ul li:nth-child(2),
.navbar ul li:nth-child(2) a {
  color: #c25f5f;
}

.navbar ul li:nth-child(2):hover,
.navbar ul li:nth-child(2).active {
  background-color: #f5c9c9;
  color: #000;
}

.navbar ul li:nth-child(3) {
  border-bottom: 1px solid #5a045a;
}

.navbar ul li:nth-child(3),
.navbar ul li:nth-child(3) a {
  color: #5a045a;
}

.navbar ul li:nth-child(3):hover,
.navbar ul li:nth-child(3).active {
  background-color: #8d628d70;
  color: #000;
}

.header {
  min-height: 8px;
  width: 100%;
  border: none;
  background: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}

.container h1 {
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 8px;
  font-size: 24px;
  cursor: default;
}

.container p {
  cursor: default;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
}

.images {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 32px;
}

.logo-thebrigde {
  width: 42%;
}

.logo-neskatila {
  width: 42%;
  height: 96%;
  border: 2px solid #fff;
  border-radius: 8px;
}

.translate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.translate textarea {
  width: 80%;
  height: 150px;
  padding: 16px;
  resize: vertical;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  border-radius: 4px;
  border-color: #d4d4d4;
  font-style: italic;
}

.button-language {
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
  width: 32%;
  border-radius: 32px;
}

.button-language:focus {
  outline: 0;
}

.button-language.euskera {
  background: #E9E991;
  color: #000;
}

.button-language.spanish {
  background: rgb(55 57 67);
  color: #fff;
}

.footer {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer svg {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }
  .navbar ul li {
    width: 100%;
  }
  .images {
    flex-direction: column;
  }
  .logo-thebrigde,
  .logo-neskatila {
    width: 100%;
    height: 100%;
  }
  .button-language {
    width: 100%;
  }
}
