#root {
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.navbar {
  width: 100%;
  padding: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  cursor: pointer;
  padding: 16px 32px;
  display: flex;
}

.navbar ul li:nth-child(1) {
  border-bottom: 1px solid #cfcf16;
}

.navbar ul li:nth-child(1),
.navbar ul li:nth-child(1) a {
  color: #cfcf16;
}

.navbar ul li:nth-child(1):hover,
.navbar ul li:nth-child(1).active {
  border-bottom: 2px solid #cfcf16;
  background-color: #e7e7a8;
  color: #000;
}

.navbar ul li:nth-child(2) {
  border-bottom: 1px solid #c25f5f;
}

.navbar ul li:nth-child(2),
.navbar ul li:nth-child(2) a {
  color: #c25f5f;
}

.navbar ul li:nth-child(2):hover,
.navbar ul li:nth-child(2).active {
  border-bottom: 2px solid #c25f5f;
  background-color: #f5c9c9;
  color: #000;
}

.navbar ul li:nth-child(3) {
  border-bottom: 1px solid #5a045a;
}

.navbar ul li:nth-child(3),
.navbar ul li:nth-child(3) a {
  color: #5a045a;
}

.navbar ul li:nth-child(3):hover,
.navbar ul li:nth-child(3).active {
  border-bottom: 2px solid #5a045a;
  background-color: #8d628d70;
  color: #000;
}

.header {
  min-height: 8px;
  width: 100%;
  border: none;
  background: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}

.container {
  width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 32px;
}

.container h1 {
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 8px;
  font-size: 24px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-thebrigde {
  width: 42%;
}

.logo-neskatila {
  width: 56%;
  height: 80%;
}

.translate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.translate textarea {
  width: 80%;
  height: 150px;
  padding: 16px;
  resize: vertical;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  border-radius: 4px;
  border-color: #d4d4d4;
  font-style: italic;
}

.button-language {
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
}

.button-language:hover {
  transform: scale(1.2);
}

.button-language:focus {
  outline: 0;
}

.button-language.euskera {
  background: linear-gradient(41deg, rgba(218, 41, 28, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 154, 68, 1) 100%);
}

.button-language.spanish {
  background: linear-gradient(88deg, rgba(218, 41, 28, 1) 0%, rgba(250, 189, 0, 1) 50%, rgba(218, 41, 28, 1) 100%);
}

@media only screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }
  .navbar ul li {
    width: 100%;
  }
  .images {
    flex-direction: column;
  }
  .logo-thebrigde,
  .logo-neskatila {
    width: 100%;
    height: 100%;
  }
}
